/* STYLESHEET */

@font-face {
    font-family: 'Dosis-Bold';
    src: url('../fonts/Dosis-Bold.eot?#iefix') format('embedded-opentype');
    src: url('../fonts/Dosis-Bold.woff') format('woff'),
        url('../fonts/Dosis-Bold.ttf')  format('truetype'),
        url('../fonts/Dosis-Bold.svg#Dosis-Bold') format('svg');
  }
  
body {
    margin: 0 auto;
 }
 h2 {
    font-size: 20px;
    font-family: 'Dosis-Bold';
    color: #27a8bd;
  
  
 }
 h3 {
    font-family: Consolas;
 }
 p {
    font-family: Dosis;
    font-size: 12px;
    color: rgb(60,60,60);
    font-weight: 700;
   } 
 ul.row {
    margin: 0;
    padding: 0;
    list-style: none;
 }
 .banner {
   
    background-image: url("../images/IMG-20180619-WA0018.jpg");
    background-size: cover;
  width: 100vw;
  height: 100vh;  
  margin: 0 auto;
 }
 .about {
    height: 335px;
 }
 .about .container {
     width: 904px;
     margin-left: 203px;
 }
 .site-features {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
   padding-top: 95px;
   padding-bottom: 53px;
   width: 902px;    
    
 }
 
 .desc {
   
    padding-right: 36px;
    padding-left: 5px;
    padding-top: 6px;
 }
  .shift {
      padding-left: 10px;
  }
 .desc-icon1 {
        background-image: url("../images/icon2.jpg");
        background-size: cover;
        height: 40px;
        width: 40px;
        margin-bottom: 17px;
 }
 .desc-icon2 {
    background-image: url("../images/icon1.jpg");
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-bottom: 17px;
}
.desc-icon3 {
    background-image: url("../images/icon3.jpg");
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-bottom: 14px;
}
.desc-icon4  {
    background-image: url("../images/icon4.jpg");
    background-size: cover;
    height: 40px;
    width: 40px;
    margin-bottom: 13px;
}
  .desc-heading {
      font-size: 13px;
      padding-bottom: 6px;
  }
 
 .about-comp {
   background-color: rgb(244,244,244);  
    height: 416px;
 }
 .about-comp .container {
    padding-top: 77px;
    padding-bottom: 80px;
    padding-left: 143px;
    
 }
 .about-comp-img {
     background-image: url("../images/pic2.jpg");
     background-size: contain;
     width: 449px;
     height: 280px;
 }
 #about-comp-title {
    padding-top: 2px;
    letter-spacing: 0.29px;
 }
 #about-content {
     padding-top: 24px;
     padding-left: 2px;
 }
 #about-button {
    border-color: dodgerblue; 
    border-width: 1px;
    margin-top: 144px;
    margin-left: 3px;
    height: 30px;
    width: 79px;
 }
 .latest-works {
     height: 883px;
 }

 .nav-el {
     padding-top: 65px;
     padding-left: 3px;
 }
  #nav1 {
      word-spacing: 7px;
  }
  #nav1 a {
     
      margin-right: 17px;
      font-size: 11px;
      font-family: sans-serif;
      color: rgb(148, 148, 148);
  }

      #nav1 a:hover {
          color: rgb(25, 122, 151);
      
  }

  .latest-works .container {
     padding-bottom: 40px;
     padding-top: 86px;
     padding-left: 118px;
    
    }
    .latest-works .container .row .col-6 {
        padding-left: 32px;
        padding-top: 5px;
    }
     #latest-title {
         letter-spacing: 0.7px;
     }
     .latest-box {
        height: 268px;
        width: 216px;
        margin-right: 11.9999995px;
        margin-bottom: 17px;
    }
     .box-content {
        height: 268px;
        width: 216px;
        background-color: rgba(245, 245, 245, 0.966);
    }
     .bc-pic1 {
         background-image: url("../images/p1.jpg");
         background-size: cover;
         height: 192px; 
     }
     .bc-pic2 {
        background-image: url("../images/Layer\ 411.jpg");
        background-size: cover;
        height: 192px; 
    } 
    .bc-pic3 {
        background-image: url("../images/Layer\ 412.jpg");
        background-size: cover;
        height: 192px; 
    }
    .bc-pic4 {
        background-image: url("../images/Layer\ 413.jpg");
        background-size: cover;
        height: 192px; 
    }
    .bc-pic5 {
        background-image: url("../images/Layer\ 414.jpg");
        background-size: cover;
        height: 192px; 
    }
    .bc-pic6 {
        background-image: url("../images/Layer\ 415.jpg");
        background-size: cover;
        height: 192px; 
    }
    .bc-pic7 {
        background-image: url("../images/Layer\ 416.jpg");
        background-size: cover;
        height: 192px; 
    }
    .bc-pic8 {
        background-image: url("../images/Layer\ 417.jpg");
        background-size: cover;
        height: 192px; 
    }     
      .all-mockups {
        display: flex;
        justify-content: space-around;
         align-items: center; 
         height: 15%;
      }
      #all-text {
        text-transform: uppercase;
        font-size: 9px;
        padding-top: 7px;
        padding-right: 61px;
      }
      #all-heart {
        padding-top: 14px;
        font-size: 18px;
        padding-right: 1px;
      }
      #heart-color {
          color: rgba(190, 174, 174, 0.342);
      }
      .vector-smart {
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
        height: 15%;
      }
      .vector-text {
        font-size: 11px;
        padding-bottom: 16px;
        letter-spacing: 0.4px;
        padding-left: 4px;
      }
      .vector-number {
          color: #27a8bd;
          padding-bottom: 21px;
          font-size: 12px;
          padding-right: 4px;
      }
     .latest-blog {
         background-color: #f4f4f4;
         height: 640px;

     }
     .latest-blog .container {
         
         padding-top: 92px;
         padding-left: 119px;
     }
     #blog-title {
        letter-spacing: 0.1px;
        word-spacing: 2px;
     } 
      .blog-elements {
          display: flex;
          flex-flow: row wrap;
          list-style: none; 
        padding-left: 0; 
        padding-top: 44px;
         width: 897px;
         height: 428px;

     }
     .blog1 {
         width: 50%;
         height: 50%;
     }
     .my-item {
         width: 100%;
         height: 100%;
     }
     .item-features {
         display: flex;
         flex-direction: row;
         height: 100%;
     }
     .feature-text {
         width: 50%;
     }
     .feature-pic {
        width: 50%;
    }
    .feature-title {
        font-size: 15px;
        line-height: 4;
    }
     .feature-hr {
         width: 132px;
         background-color: #27a8bd;
         margin-top: -22px;
         margin-bottom: 28px;
         margin-left: 44px;
         
     }
     .feature-img1 {
         background-image: url("../images/Layer\ 451.jpg");
         background-size: cover;
         height: 100%;

     }
     .feature-img2 {
        background-image: url("../images/Layer\ 452.jpg");
        background-size: cover;
         height: 100%;

    }
    .feature-img3 {
        background-image: url("../images/Layer\ 455.jpg");
        background-size: cover;
         height: 100%;

    }
    .feature-img4 {
        background-image: url("../images/Layer\ 454.jpg");
        background-size: cover;
         height: 100%;

    }
     
    
    .latest-blog .container .blog-elements .blog1:nth-child(n+3) .item-features .feature-text {
        order: 2;
    }
     .pricing-plan {
         height: 668px;
     }
      #pricing-title {
        letter-spacing: 0.3px;
        word-spacing: 2px;
      }
   
         .pricing-plan .container {
            
             padding-top: 86px;
             padding-left: 118px;
         }
          .pricing-plan .container .row .col-6 {
              padding-left: 33px;
          } 
         .plans {
             list-style: none;
             display: flex;
             flex-flow: row wrap;
             justify-content: flex-start;
             padding-left: 4px;
             padding-top: 105px;

         }
         .plan1 {
            background-color: #f1f1f1;
            margin-right: 8px;
         }
             
       .box2 {
           width: 216px;
           height: 305px;
           
           padding: 0px 10px 0px 10px;
            text-align: center;
       }
       .box2:hover {
           /* height: 270px; */
           /* width: 18%; */
           transform: scaleY(1.1);
       }
       .box-elements {
           height: 100%;
           padding-top: 34px;
       }
        #pricing-plan-heart {
            
            font-size: 20px;
        }
       .box2-title {
           font-size: 13.9px;
           line-height: 3;
       }
       
      
       .box2 ul li {
           padding: 5px;
           font-family: Bahnschrift;
       }
       .hover-b {
           border-style: none;
           margin-top: 49px;
       }
       .hover-b:hover {
           border-style: solid;
           border-width: 2px;
           border-color: black;
       } 
       .contact-details {
            
           background-color: #efefef;
           height: 466px;
       }
       .contact-details .container {
           padding: 97px 0;
           padding-left: 118px;
       }
      .contact-info {
          display: flex;
      }
      .contact-us {
          width: 563px;
      }
      #contact-title {
        word-spacing: 2px;
      }
     
      .cont-form {
          padding-top: 44px;
          opacity: 0.3;
}
      
      #name {
           width: 255px;
      }
      #email {
          width: 253px;
          margin-left: 50px;
      }
      .textarea {
          padding-top: 23px;
      }
      .area-text {
          width: 100%;
          height: 80px;
      }
      #submit {
        border-color: dodgerblue; 
        border-width: 1px;  
        margin-top: 15px;
        width: 85px;
        height: 35px;
      }
      .submit-text {
        color: dodgerblue;
      }
      .off-address {
          padding-left: 27px;
      }
      #off-add-title {
        word-spacing: -4.5px;
      }
      .off-id {
        margin-top: 51px;
        margin-left: 6px;
        line-height: 1.8;
      }
      .foot-nav {
          text-align: center;
      }
      .foot-nav .container {
          padding: 17px 0;
      }
     
       #nav2 a {  
        padding: 8px;
        font-size: 11px;
        font-family: sans-serif;
        color: rgb(148, 148, 148);
   }
   #nav2 a:hover {
    color: rgb(25, 122, 151);

 }
   #nav2 {
    margin-top: 10px;
 }
 .footnav-img {
     background-image: url("../images/nav-img.jpg");
     background-size: cover;
     height: 35px;
     margin: 0 476px;
     margin-top: 10px;
 }

  
 @media screen and (max-width: 1999px) {

 }

 @media screen and (max-width: 991px) {

 }

 @media screen and (max-width: 767px) {

 }

 @media screen and (max-width: 576px) {
    .test1 {

    }
    .test2 {
        
    }
 }

 @media screen and (max-width: 479px) {

 }


